* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* tutto header con bottoni in float */
header {
    position: fixed;
    right: 0;
    margin-top: 4rem;
    margin-right: 2rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float {
    float: right;
}

a {
    display: inline-block;
    margin-left: 2rem;
    text-decoration: none;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    color: black;
    line-height: 20px;
    font-weight: 900;
}

section {
    height: 100vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
    width: 40%;
}

img {
    width: 100%;
}

p {
    font-size: 2rem;
    word-spacing: 0.7rem;
    font-weight: 900;
    text-transform: uppercase;
}

.bg-red {
    background-color: red;
}

.yellow {
    color: yellow;
}

.bg-yellow {
    background-color: yellow;
}

.bg-green {
    background-color: green;
}

.green {
    color: green;
}